<div class="row">
    <div class="col">
      <div class="order px-4 py-4">
        <h2>Order Details</h2>
        <div class="left mt-3">
          <img [src]="getImageUrl(selectedData)" alt="attraction-image" class="attraction-image">
          <div class="right mt-3">
            <!-- If condition for booking page -->
            <ng-container *ngIf="fromBookingPage">
              <h3 class="mb-4">{{ selectedData?.att_name }}</h3>
              <h4 class="mt-2">
                <strong>RM {{ selectedData?.att_price }}</strong>
              </h4>
            </ng-container>
            <!-- Else condition for cart page -->
            <ng-container *ngIf="!fromBookingPage">
              <h3 class="mb-4">{{ selectedData?.cart_item_name }}</h3>
              <h4 class="mt-2">
                <strong>RM {{ selectedData?.cart_item_price }}</strong>
              </h4>
            </ng-container>
            <hr>
            <strong>Quantity:</strong>
            <p>Total:</p>
          </div>
        </div>
      </div>
