.carousel-holder{
  display: flex;
  justify-content: center ; 
}

/*leftbtn*/
.leftbtn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 97%;
  fill: white;
}  

.leftbtn1 {
width: 25px;
height: 25px;
position: absolute;
top: 50%;
right: -3%;
fill: white;
}  

.leftbtn2 {
width: 25px;
height: 25px;
position: absolute;
top: 50%;
right: -103%;;
fill: white;
} 

/*rightbtn*/
.rightbtn {
position: absolute;
top: 50%;
right: 2%;
fill: white;
}

.rightbtn1 {
position: absolute;
top: 50%;
right: -98%;
fill: white;
}

.rightbtn2 {
position: absolute;
top: 50%;
right: -198%;
fill: white;
}

.carousel-frame{
  width: 1364px;
  height: 452px;
  overflow: hidden;
  border-radius: 35px;
}

.carousel{
  display: flex;    
}

.carousel img {
  width: 100%;
  height: auto;
}


.slide{
  width: 1364px;
  height:452px;
  flex-shrink: 0;
  outline: 2px;
}

.indicators{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;    
}

.indicator{
  width: 10px;
  height: 10px;
  background: white;
  border-radius:10px;
}
  
/*.active{
  background-color: #001a33;
}*/



/*Button*/
.btn{
  border: none;
  border-radius: 20px;
  color: #001a33;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
  margin-right: 150px;
  width: 100%;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn img{
  width: 60px;
  height: 60px;
}

.btn:hover{
  color: #001A33;
}
.btn:after{
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  transition: all 0.35s ease 0s;
}
.btn:hover:after{
  width: 100%;
}
.btn.blue:after{
  background: #001a33;
}

/*aboutus*/
.image-container {
  position: relative;
  height: 300px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #001a33;
  font-size: 24px;
  text-align: center;
  width: 80%;
  z-index: 1;
}

/*experience*/
.rightside{
  flex: 60%;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rightside img{
  width: 324.33px;
  height: 293px;
  border-radius: 35px;
}

.p .rightside {
  text-align: center;
}

/*.rightside p:hover{
  text-decoration: underline;
}*/

.leftside{
  flex: 50%;
  padding: 20px;
}

.leftside a{
  color: #001A33;
  text-decoration: none;
}

.leftside a:hover{
  color:white;
  text-decoration: underline;
}

.visit_container{
  line-height: 45px;
  color: #001A33;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.experience_cont{
  display:flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  padding: 50px;
}

.justified-text{
  width: 100px;
  text-align: justify;
  text-justify: inter-word;
}

.title{
  margin-left: 4rem;
}

/*Community*/
.column {
  flex: 33.33%;
  padding: 10px;
  margin: 10px;
  background-color: #cccccc;
  text-align: center;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/353/335/desktop-wallpaper-pastel-gradient-light-green-gradient.jpg');
  border-radius: 35px;
}

.container {
  display: flex;
  justify-content: center;
}

.column img {
  height: 250px;
  width: 362px;
  border-radius: 32px;
  padding: 15px;
}

.column h4{
  color: #001A33;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: justify;
  padding: 20px;
}

.column p{
  color: black;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
}

.column a{
  text-decoration: none;
}

.column a:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.community{
  padding-left: 5rem;
}

.community a{
  color: #001A33;
  text-decoration: none;
}


/* Media queries */
/*@media screen and (max-width: 600px) {
  .search-container input[type=text] {
    width: 70%;
  }

  .search-container button {
    width: 20%;
  }

}*/

@media screen and (max-width: 767px) {

  .btn{ 
    margin-bottom: 20px; 
  }

  .carousel-inner{
    display: flex;
  }

  .carousel-item{
    display: block;
    margin-right: 0px;
    flex: 0 0 calc(100%/3);
  }

  .carousel img {
    width: 350px;
    height: 452px;
  }

  .text-container {
    font-size: 18px;
  }

  .image-container {
    position: relative;
    height: 400px;
  }

  .visit_container{
    display: block;
  }

  .experience_cont{
    display: block;
  }

  .leftside{
    padding: 0px;
    display: block;
  }

  .rightside{
    display: block;
  }

  .container{
    display: block;
  }

  .column img {
    height: 240px;
    width: 332px;
    border-radius: 32px;
    padding: 20px;
  }

}

