<div class="carousel-holder">
    
    <div class="carousel-frame">
        <div class="carousel">
            <div class="slide">
                
                    <div class="leftbtn">
                        <svg width="20" height="20">
                            <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                          </svg>  
                    </div>
                    <img src="assets/img_component/slide 1.svg">
                        <div class="rightbtn">
                            <svg width="20" height="20">
                                <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                              </svg>
                          </div>
                
            </div>

            <div class="slide">
                
                   <div class="leftbtn1">
                        <svg width="20" height="20">
                            <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                        </svg>  
                    </div>
                  <img src="https://static.the.akdn/53832/1664185981-0_aerial-view-at-night.jpg">
                    <div class="rightbtn1">
                        <svg width="20" height="20">
                            <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                          </svg>
                      </div>
               
            </div>
              
            <div class="slide">
                
                    <div class="leftbtn2">
                        <svg width="20" height="20">
                            <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                        </svg>  
                    </div>
                    <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/3c5857e2-Explore-Georgetown/Explore%20Georgetown.jpg">
                        <div class="rightbtn2">
                            <svg width="20" height="20">
                                <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                              </svg>
                        </div>
            </div>
        </div>
    </div> 
</div>

<div class="indicators">
    <div class="indicator active"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
</div>

<div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="Btn">
    <button type="button" class="button" routerlink="/thingstodo">Things To Do 
        <img src="assets/img_component/ticket 1.svg" onmouseover="this.src='assets/img_component/ticketw.svg'" onmouseout="this.src='assets/img_component/ticket 1.svg'">
    </button>
    <button type="button" class="button" routerlink="/busstop">Bus Stop 
        <img src="assets/img_component/bus-stop.svg" onmouseover="this.src='assets/img_component/bus-stop-1.svg'" onmouseout="this.src='assets/img_component/bus-stop.svg'">
    </button>
    <button type="button" class="button" routerlink="/attraction">Attraction
        <img src="assets/img_component/attraction 1.svg" onmouseover="this.src='assets/img_component/attraction.svg'" onmouseout="this.src='assets/img_component/attraction 1.svg'">
    </button>
    <button type="button" class="button" routerlink="/event">Events
        <img src="assets/img_component/event.svg" onmouseover="this.src='assets/img_component/event 1.svg'" onmouseout="this.src='assets/img_component/event.svg'">
    </button>
</div>

<div class="container">
    <img src="assets/img_component/aboutus.svg">
    <div class="text-overlay">
      <h2>About Us</h2>
      <p>George Town is the colorful, multicultural capital of the Malaysian island of Penang. 
        Once an important Straits of Malacca trading hub, the city is known for its British 
        colonial buildings, Chinese shophouses and mosques. Beyond the old town, George Town 
        is a modern city with skyscrapers and shopping malls. Verdant Penang Hill, with hiking 
        and a funicular railway, overlooks it all.</p>
    </div>
</div>




