<!--Slider-->
<div class="overflow-hidden">
<div class="carousel-holder mt-4">
    <div class="carousel-frame">
        <div class="carousel">
            <div class="slide">
                <div class="leftbtn">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="assets/img_component/slide 1.svg">
                <div class="rightbtn">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>

            <div class="slide">
                <div class="leftbtn1">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="https://static.the.akdn/53832/1664185981-0_aerial-view-at-night.jpg">
                <div class="rightbtn1">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>
              
            <div class="slide">
                <div class="leftbtn2">
                    <svg width="20" height="20">
                        <polygon points="20,5 20,0 5,10 20,20 20,15 10,10" />
                    </svg>  
                </div>
                <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/activities/3c5857e2-Explore-Georgetown/Explore%20Georgetown.jpg">
                <div class="rightbtn2">
                    <svg width="20" height="20">
                        <polygon points="0,5 0,0 15,10 0,20 0,15 10,10" />
                    </svg>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="indicators">
    <div class="indicator active"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
</div>

<app-searchbar></app-searchbar>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-3">
            <a href="/thingstodo" class="btn btn-lg blue">things to do
                <img src="assets/img_component/ticket 1.svg">
            </a>
        </div>
 
        <div class="col-sm-3">
            <a href="https://myrapid.com.my/bus-train/rapid-penang/" target="_blank" class="btn btn-lg blue">Bus Stop
                <img src="assets/img_component/bus-stop.svg">
            </a>
        </div>
 
        <div class="col-sm-3">
            <a href="/attractions" class="btn btn-lg blue">Attraction
                <img src="assets/img_component/attraction1.svg">
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/events" class="btn btn-lg blue">events
                <img src="assets/img_component/event.svg">
            </a>
        </div>
    </div>
</div>


<div class="image-container">
    <img src="assets/img_component/aboutus.svg">
    <div class="text-container">
        <h2>About Us</h2>
        <p>George Town is the colorful, multicultural capital of the Malaysian island of Penang. 
          Once an important Straits of Malacca trading hub, the city is known for its British 
          colonial buildings, Chinese shophouses and mosques. Beyond the old town, George Town 
          is a modern city with skyscrapers and shopping malls. Verdant Penang Hill, with hiking 
          and a funicular railway, overlooks it all.</p>
    </div>
</div>

<h1 class="title mt-5">Explore more about Penang</h1>
<div class="visit_container">
    <div class="leftside">
        <h3>Visit</h3>
        <p>Places to see, ways to wander, and signature experiences.</p>
        <a href="#">see all</a>
    </div>
    <div class="rightside">
        <img src="https://www.adventureswithfamily.com/wp-content/uploads/2015/11/Penang-Street-Art-08.png">
        <img src="https://media2.malaymail.com/uploads/articles/2018/2018-11/2111_SZ_penang_hill1.jpg">
        <p>Penang Heritage</p>
        <p>Penang Hill</p> 
    </div>
</div>    

<div class="experience_cont">
    <div class="leftside">
        <h3>Experience</h3>
        <p>Experience exciting places</p>
        <a href="#">see all</a>
    </div>
    <div class="rightside">
        <img src="https://cdn-imgix.headout.com/mircobrands-content/image/924d1dd360facef6ead8101c3872fcf9-97e0c77d-509b-4d22-bbb3-9dd63f1af47f.jpg">
        <img src="https://mypenang.gov.my/uploads/directory/136/cover/The-Habitat-Penang-Hill-1.jpg">
        <p>The Top Penang</p>
        <p>The Habitat</p> 
    </div>
</div>

<div class="visit_container">
    <div class="leftside">
        <h3>Eat</h3>
        <p>Can't-miss spots to dine, drink, and feast.</p>
        <a href="#">see all</a>
    </div>
    <div class="rightside">
        <img src="https://www.penang-fyi.com/wp-content/uploads/2018/11/penang-laksa.jpg">
        <img src="https://1.bp.blogspot.com/-jWyVcgn96yk/XyeVB_JJenI/AAAAAAAA8gI/ZfcmuzXgSOQ9zYWVbpyZQCCxXtfrundHACNcBGAsYHQ/s640/IMG_2591.jpg">
        <p>Penang Road Famous Laksa </p>
        <p>Penang Road Famous Teochew Cendol</p> 
    </div>
</div>   

<!--Community-->
<div class="community">
    <h1>Community</h1>
    <a href="#">More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
<div class="container">
    <div class="column">
        <img src="https://www.walkabout.asia/wp-content/uploads/2016/02/DSC2096.jpg">
        <h4>Penang Hill Ultimate Travel Guide:  Coolest things to See, Do & Eat on Penang's Famous Hill Station </h4>
        <p>Rising in the central part of the island, Penang Hill (known in Malay as “Bukit Bendera”, or Flag Hill) is an 
            imposing 833-meters-high hill, and one of the unmissable things to do in Penang.</p>
    </div>
    <div class="column">
        <img src="https://danielfooddiary.com/wp-content/uploads/2022/09/overandabove10.jpg">
        <h4>Over And Above, PENANG - NEW Japanese-Inspired Cafe In The Day And Bar By Night At George Town</h4>
        <p>Cafe in the day, bar at night, Japanese-inspired Over and Above has opened recently in Penang. 
            Located a short distance from one of the places of interest in Penang - Chew Jetty.</p>
    </div>
    <div class="column">
        <img src="https://img.theculturetrip.com/768x/smart/wp-content/uploads/2018/01/shutterstock_594590456.jpg">
        <h4>City Hall</h4>
        <p>Located at the westernmost point of Penang Island, this majestic building is a funky formula of Neo-Baroque 
            and Palladian architectural styles, featuring colonnades, arched windows, and a sharp rooftop silhouette.</p>
    </div>
 </div>
 <app-footer></app-footer>
 </div>
