.h1{
    color: #001A33;
    text-shadow: 0px 8px 4px rgba(0, 26, 51, 0.1); 
}

.contents{
    text-align: justify;
    line-height: 34px;
    color: #001A33;
    font-size: 24px;
    position: absolute;
    left: 10%;
    right: 10%;
}

.about-text{
    position: absolute;
    left: 10%;
    right: 10%;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #001a33;
    font-size: 24px;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.rightside{
    flex: 20%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rightside img{
    width: 635px;
    height: 410px;
    border-radius: 35px;
}
  

/*.rightside p:hover{
    text-decoration: underline;
}*/

.leftside{
    flex: 80%;
    padding: 20px;
    margin-right: 20px;
}

.text-center{
    color: #001A33;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.penang_container{
    line-height: 45px;
    display: flex;
    flex-direction: row;
}

.georgetown_cont{
    display:flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    line-height: 45px;
}

.footer_container{
  background-color: #5D8976;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a
.align{
  position: relative;
  margin-top:110em;
}

/*footer*/
.footer{
    background-color: #5D8976;
  }
  
  .logo-text{
    color: #FFFFFF;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    margin: 30px;
  }
  
  .footer-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .material-symbols-outlined{
    font-size:150px;
    color: white;
    filter: drop-shadow(10px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  
  .contact, .contact a{
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .contact h3, .site h3{
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .contact a:hover{
    color: #001a33;
    text-decoration: none;
  }
  
  .footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 70px;
    color: #FFFFFF;
    font-size: 25px;
  }
  
  .footer-links{
    display: flex;
    flex-direction: row;
    
  }
  
  .left{
    padding: 0px;
  }
  
  .right{
    padding-left: 45px;
  }
  
  .footer-list a, .footer-list li{
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    line-height: 50px;
    font-size: 25px;
  }
  
  .footer-list a:hover{
    color: #001a33;
  }
  
  .footer-list a{
    color: #FFFFFF;
  }
  
  /*social media*/
  .social-links{
    display: flex;
    justify-content: space-between;
  }