.col img {
    border-radius: 20px
}

.col{
  color: #001A33;
}

.col h1{
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.2);
}

.eateries-image{
  width: 500px;
  height: 500px;
}

.left{
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 1300px;
}
  
.right{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;
}



@media screen and (max-width: 767px){
  .col img{
    width: 350px;
    margin-left: 10px;
  }

  .col h1{
    font-size:40px;
    text-align: center;
  }
}
