<div class="container-sm justify-content-md-center my-5">
  <div class="row">
    <div class="col">
      <div *ngIf="selectedData">
        <div class="left mt-5">
          <a [routerLink]="'/attractions'"><img [src]="getImageUrl(selectedData)" alt="attraction-image" class="attraction-image"></a>
            <div class="right mt-3">
              <h3 class="mb-4">{{ selectedData.att_name }}</h3>
              <p class="mt-2">
                {{ selectedData.att_desc }}<br><br>
                {{ selectedData.att_location }}<br><br>
                <ng-container *ngIf="formatTime(selectedData.att_openHrs) === '24 Hours'">
                  {{ formatTime(selectedData.att_openHrs) }}
                </ng-container>
                <ng-container *ngIf="formatTime(selectedData.att_openHrs) !== '24 Hours'">
                  {{ formatTime(selectedData.att_openHrs) }} - {{ formatTime(selectedData.att_closeHrs) }}
                </ng-container><br><br>
                <strong>RM {{ selectedData.att_price }}</strong>
              </p>
              <div class="right2 my-2">
                <ng-container *ngIf="selectedData.att_price !== '-'">
                  <a href= "/cart" class="btn-sm float-right my-4 ">Add To Cart</a>
                  <a href="/booking-details" class="btn-sm float-right mx-3" (click)="redirectToBookingDetailsComponent(selectedData)">Buy Now</a>
                </ng-container>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>