.tab{
  padding-top: 85px;
}

.tablinks {
    overflow: hidden;
    color: #001A33;
    background-color: #F2F2F2;
    width: 350px;
    height: 80px;
    border: none;
}

.tablinks.active {
    color: white;
    background-color: #001A33;
}

.tabcontent{
    background-color: white;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-row {
  display: grid;
  gap: 5px;
}

label {
  grid-column: 1;
}

input, button {
  grid-column: 2;
  width: 100%;
}

.col-md-6{
    padding: 10px;
}

.container, .h3{
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn{
    background-color: #001A33;
    border-radius: 20px;
}

.container-back{
  background-image: url('https://ik.imagekit.io/tvlk/blog/2022/04/Tempat-Wisata-di-Penang-Malaysia-Traveloka-Xperience-6.jpg');
  height: 500px;
  background-size: cover;
}

.text{
  color: #001A33;
  text-align: center;
  padding-top: 200px;
  font-size: 50px;
}

/*Media Queries*/
@media screen and (max-width: 767px){
    .tablinks{
        width: 100%;
    }

    .text {
      padding-top: 100px;
      padding-bottom: 30px;
    }

    .tab{
      padding-top:0px;
    }

}
    

